<h1>Edit Photo</h1>

<% if @photo.errors.size.positive? %>
  <div>
    <ul>
      <h2 class="errors-title">Something went wrong:</h2>
      <% @photo.errors.full_messages.each do |message| %>
        <li class="errors-list"><%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @photo do |form| %>

  <div>
        <%= form.label :title, class: 'form-label'%>
        <%=form.text_field :title, class: 'form-text-field'%>
  </div>
  <div>
        <%= form.label :description, class: 'form-label'%>
        <%=form.text_area :description,class: 'form-text-area'%>
  </div>
 <div>
        <%= form.label :category_id, class: 'form-label'%>
        <%=form.collection_select :category_id, @categories, :id, :name,class: 'form-collection'%>
  </div>
  <div>
        <%= form.label :image,class: 'form-label'%>
    <div>
      <% if @photo.image.attached?%>
        <%=image_tag @photo.image%>
      <%end%>
    </div>
    <div>
      <%= form.file_field :image%>
    </div>
    </div>
    <%=form.submit%>
<%end%>

<button class="button-back"><%=link_to 'Back' , category_path(@photo.category_id)%></button>
