<h1>New Photo</h1>   
 
<div>
<% if @photo.errors.size.positive? %>
  <div>
    <ul>
      <h2>Something went wrong:</h2>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>


<%= form_with model: @photo do |form| %>
  

  <div>
        <%= form.label :title, class: 'form-label'%>
        <%=form.text_field :title, class: 'form-text-field', autofocus: true, placeholder: 'Big mountain'%>
  </div>
  <div>
        <%= form.label :description, class: 'form-label'%>
        <%=form.text_area :description,class: 'form-text-area', autofocus: true, placeholder: 'Photo taken on ...'%>
  </div>
  <div>
        <%= form.label :category_id, class: 'form-label'%>
        <%=form.collection_select :category_id, @categories, :id, :name,class: 'form-collection'%>
  </div>
  <div>
        <%= form.label :image,class: 'form-label'%>
      <%= form.file_field :image%>
  </div>
  <%=form.submit%>
<%end%>

<button class="button-back"><%=link_to 'Back' , category_path(@photo.category_id)%></button>