<h1>New Category</h1>

<% if @category.errors.size.positive? %>
  <div>
    <ul>
      <h2>Something went wrong:</h2>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @category  do |form| %>
  <div>
    <div>
      <%= form.label :name%>
    </div>
    <div>
      <%= form.text_field :name%>
    </div>
  </div>

  <div>
    <div>
      <%= form.label :description%>
    </div>
    <div>
      <%= form.text_area :description%>
    </div>
  </div>

  <div>
    <div>
      <%= form.label :cover%>
    </div>
    <div>
      <%= form.file_field :cover%>
    </div>
  </div>

  <%= form.submit%>
<% end %>
<button><%= link_to 'Back', categories_path %></button>