<h1><%= @category.name%></h1>
<h2>Categories</h2>
<%= link_to 'New Category', new_category_path(category_id: @category.id) %>
<div>
    <div>
      <a href="<%= category_path(@category)%>">
        <%= image_tag @category.cover if @category.cover.attached? %>
      </a>
      <h4><%= @category.name %></h4>
      <p><%= @category.description %></p>
      <div>
        <%= link_to 'Edit', edit_category_path(@category) %>
        <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
</div>