<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> <%= link_to image_tag('somesplash.png', alt: "Somesplash"), root_path %> <button> <%= link_to "Search", root_path%> </button> </header>
    <%= yield %>
    <footer>
      <h3>Build with by</h3>
      <span>Ana María - </span>
      <span> Aldo Canales -</span>
      <span> Christian Martos -</span>
      <span> Giancarlo Palomino</span>
    </footer>
  </body>
</html>
